{
  "presets": [
    [
      "@babel/preset-env",
      { "targets": { "browsers": ["ie 11","last 2 versions", ">= 5% in KR"] } }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "babel-plugin-styled-components"
  ]
}
