$black0: #1e1e2c;
$black1: #1d1d2b;
$black2: rgba($black1, 0.6);
$black3: rgba($black1, 0.35);
$gray0: #edeff1;
$gray1: #f8f8f8;
$gray2: #d8d8d8;
$gray3: #b1b1b5;
$gray4: #979797;
$gray5: #787880;
$white0: #ffffff;
$white1: #dee2e6;
$blue0: #2394ce;
$blue1: #85c4e7;
$yellow0: #fede00;
$yellow1: #f3ac13;
$red0: #ed4035;
$red1: #ec4557;
$green0: #8eeb12;
$pink0: #ffa78e;
