@font-face {
  /* font-family: '나눔바른고딕'; */
  font-family: "AppleSDGothicNeo";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  /* src: local('나눔바른고딕'),local('NanumBarunGothic'),local('나눔바른고딕OTF'),local('NanumBarunGothicOTF'),local('애플 SD 산돌고딕 Neo'),local('Apple SD Gothic Neo'),local('Noto Sans'),local('Noto+Sans'),local('notokr-demilight'),local('나눔고딕'),local('NanumGothic'),local('맑은 고딕'),local('Malgun Gothic'); */
  src: local("애플 SD 산돌고딕 Neo"),
    /* local("Spoqa Han Sans"), */ local("Apple SD Gothic Neo");
  /* src: local(☺),
        url('https://puripia.com/Font/nanumbarungothicregular.eot?#iefix') format('embedded-opentype'),
        url('https://puripia.com/font/nanumbarungothicregular.woff2') format('woff2'),
        url('https://puripia.com/font/nanumbarungothicregular.woff') format('woff'),
        url('https://puripia.com/font/nanumbarungothicregular.ttf') format('truetype'); */
}

body {
  margin: 0;
  padding: 0;
  font-family: "SpoqaHanSans", "애플 SD 산돌고딕 Neo", "AppleSDGothicNeo",
    "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  min-height: 100%;
}

.font-bold {
  font-weight: bold;
}

.font44 {
  font-family: SpoqaHanSans;
  font-size: 44px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1e1e2c;
}

.font44-height54 {
  height: 54px;
  font-family: SpoqaHanSans;
  font-size: 44px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1e1e2c;
}

.font34 {
  font-family: SpoqaHanSans;
  font-size: 34px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #1e1e2c;
}

.font34-height44 {
  height: 44px;
  font-family: SpoqaHanSans;
  font-size: 34px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #1e1e2c;
}

.font24 {
  font-family: SpoqaHanSans;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1e1e2c;
}

.font20 {
  font-family: SpoqaHanSans;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #1e1e2c;
}

.font26-height26 {
  height: 26px;
  font-family: SpoqaHanSans;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #1e1e2c;
}

.font17 {
  font-family: SpoqaHanSans;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1e1e2c;
}

.font17-height26 {
  height: 26px;
  font-family: SpoqaHanSans;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1e1e2c;
}

.font15 {
  font-family: SpoqaHanSans;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: -0.5px;
  color: #1e1e2c;
}

.font15-height20 {
  font-family: SpoqaHanSans;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: -0.5px;
  color: #1e1e2c;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100%;
}
